


body{
    background:beige
}

h1{
    margin-left: 192px;
}

h2{
    margin-left: 211px; 
}

#topline{
    width: 730px;
    height:3px;
    background:#dddddd; 
    margin-bottom:5px;
    margin-left:0px;
    padding-right:30px;
}

#result{
    width: 100%;
    height: 204px;
}

p{
    margin-left:273px;
}

#clipboard{

    margin-left: 505px;
}

   
@media screen and (max-width: 996px){

h1{
    margin-left: 53px;
    width: 378px;
}
h2{
    width: 328px;
    margin-left: 76px; 
}
p{
    margin-left: 152px;  
}
#topline{
    background:beige;
}
#clipboard{

    margin-left: 225px;
}
}